<div class="row">
  <div class="col-6 col-sm-4 col-lg-3"><
    <% @spaces.each do |space| %>
      <div class="card">
        <%= space.title %>
        <img src="app/assets/images/" alt="dummy-custodyo-image">        
      </div>
    <% end %>
  </div>
</div>