<div class="footer d-flex flex-column">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This website was coded with lots of <i class="fas fa-coffee"></i> and <i class="fas fa-heart"></i> at Nubi © 2021.
  </div>
</div>
