.btn-flat {
  padding: 8px 24px;
  border-radius: 4px;
  background: $costudyo-gray;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: rgb(220, 220, 220);
}

#button-warning {
  color: white;
  background-color: #f15c5cb6;
}
