.btn-ghost {
  color: #4a4a4a;
  border: 1px solid #4a4a4a;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-flat {
  padding: 8px 24px;
  border-radius: 4px;
  background: $costudyo-gray;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: rgb(220, 220, 220);
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167ffb, #0f60c4);
  transition: background 0.3s ease;
  border: 1px solid #0f60c4;
}

.btn-gradient:hover {
  background: linear-gradient(#147eff, #0f67da);
  color: white;
}

.btn-pink {
  color: $white;
  background-color: $dark-pink;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 1rem;
  border-radius: 30px;
  padding: 0.5rem 1.5rem;
}

.btn-pink:hover {
  background-color: $purple;
  color: $white;
}
