.card {
  height: 380px;
  width: 250px;
  background-color: $white;
  border: 1px solid $light-pink;
  border-radius: 5px;
  color: $black;
}

<<<<<<< HEAD
// .card-body {
// TO DO d-flex flex-column justify-content-between
// }

.card img {
  width: 60%;
=======

#large-card {
  height: auto;
  background-color: white;
>>>>>>> master
}