.card {
  height: 380px;
  width: 250px;
  background-color: $white;
  border: 1px solid $light-pink;
  border-radius: 10px;
  color: $black;
}

#my-bookings-card {
  height: auto;
}

.card img {
  width: 100%;
}

#icon {
  width: 60%;
} 

#large-card {
  height: auto;
}

#button-warning {
  background-color: red;
}