.card {
  width: 250px;
  background-color: #fff9fc;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 0px 5px $element-border;
  color: $black;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.02);
}

#my-bookings-card {
  height: auto;
}

.card img {
  width: 100%;
  border-radius: 15px;
}

#icon {
  width: 60%;
}

#large-card {
  height: auto;
}
