h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.6rem;
}

.main-wrapper {
  margin-top: 5rem;
  min-height: calc(100vh - 5rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dashboard-container {
  position: relative;
}

.topright {
  position: absolute;
  top: -24px;
  right: 8px;
}
